<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <h1>Estas son tus cuentas:</h1>

    <div>
      <template
          is = "dom-repeat"
          items= "{{cuenta}}"
          as = "cuenta"
      >
      <h3>iban: {{cuenta.iban}} balance: {{cuenta.balance}}</h3>
      </template>
    </div>

    <iron-ajax auto
      id="getAccount"
      url="http://localhost:3000/apitechu/v1/accounts/{{userid}}"
      handle-as="json"
      on-response="showData"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
          cuenta: {
            type: Array
          }
        };
      }

      showData(data) {
        console.log("showData");

        this.cuenta = data.detail.response;
      }
    }

    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
